:root {
    --text-dark: #000;
    --text-light: #fbf2f2;
    --text-muted: #595959;
  
    --background-color: #fff;
    --accent-color: #d4aef1;
    --accent-color-2: #3bb54a;
    --tag-color: #e5e5e5;
  
    --border: 3px solid #000;
    --story-list-hover: #f9fbfb;
  }

  :root.dark-mode {
    --text-dark: #fbf2f2;
    --text-light: #000;
    --text-muted: #595959;
  
    --background-color: #1c2023;
    --accent-color: #d4aef1;
    --accent-color-2: #3bb54a;
    --tag-color: var(--accent-color-2);
  
    --border: 3px solid #fff;
    --story-list-hover: #15181b;
  }
  
  .button {
    --background-color: #a4e8e8;
    --background-color-hover: #ecd2ea;
  }
  
  .form__field {
    --background-color: #f8ecf7ef;
    --background-color-hover: #bde8eb;
    /* --form-color:#e1cfea; */
  }
  
  .form__field,
  .nav__link {
    --border: 3px solid #bc81e9;
  }
  
  html {
    /* Sets global font size on small devices */
    font-size: 12px;
  }

   /* When the screen width hits 960px, we increase the global font size to 14px. This changes
     the scale of all of our relative units (the rems), keeping everything in proportion */
  @media screen and (min-width: 60em) {
    html {
      font-size: 14px;
    }
  }
  
  /* When the screen width hits 1200px, we once again increase the global font size, this time to 16px */
  @media screen and (min-width: 75em) {
    html {
      font-size: 16px;
    }
  } 
  
  body {
    display: flex;
    flex-direction: column;
    /* Sets the shared font characteristics, so that that they can be inherited globally */
    font-family: "Public Sans", sans-serif;
    color: var(--text-dark);
    line-height: 1.45;
    background-color: var(--background-color);
    /* hide the normal cursor to let us to create our custom cursor*/
    cursor: none; 
  }

  .cursor-dot{
    width: 5px;
    height: 5px;
    background-color: rgb(233, 77, 145);  
 }
 
 .cursor-outline{
     width: 30px;
     height:30px;
     border: 2px solid rgb(230, 146, 185);
 }
 
 .cursor-dot,
 .cursor-outline{
     position:fixed;
     top: 0;
     left: 0;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     z-index: 1;
     pointer-events: none;
 } 

  .main {
    flex-grow: 1;
    padding: 3rem 1.5rem 2rem 1.5rem;
    /* top right bottom left */
  }

  /* increase the padding when the screen size getter larger */
  @media screen and (min-width: 30em) {
    .main {
      padding-top: 5rem;
      /* change padding top to 5rem, and keep the other paddings(right bottom left) the same */
    }
  }

  .header {
    padding: 0 2rem;
    border-bottom: var(--border);
  }

  .header__logo {
    display: flex;
    align-items: center;
    height: 4rem;
    color: inherit;
    text-decoration: none;
  }

  .header__logo:hover {
    color:#9766bd;
  }

  .logo__icon {
    width: 4rem;
    height: 4rem;
  }

  .logo__name {
    margin-left: 0.5rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    /* font-wight to a number that font have imported in layout.html */
    font-size: 1.7rem;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
  }

  .nav {
    display: flex;
  }

  .nav__link {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    text-decoration: none;
    color: inherit;
  }

  .nav__link--active {
    background: var(--accent-color);
    color: var(--text-light);
  }

  .nav__link:not(:last-child) {
    margin-right: 1rem;
  }

  .nav__link:hover {
    margin-bottom: -3px;
    border-bottom: var(--border);
  }

  .nav__item{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .nav__icon {
    width: 1em;
    height: 1em;
  }

  .footer {
    padding: 1rem 0;
    color: var(--text-muted);
    text-align: center;
  }

  /* Button styles that we'll share across our site */
  .button {
    /* In order to easily position our buttons, we're making them block level elements */
    display: block;
  
    /* Removes any outlines added when the button is in focus */
    outline: none;
  
    /* Setting the cursor to pointer indicates to a user that the button is a clickable element */
    cursor: pointer;
  
    /* Again, with buttons we have to be explicit about inheriting font properties */
    font-size: inherit;
    font-family: inherit;
  
    /* Slows the background colour change effect when we hover over the button, making
         it take 0.1s with an accelerating colour change */
    transition: background 0.1s ease-in;
  }
  
  /* Utility class to use on links within text. */
  .link {
    text-decoration: none;
    color: var(--accent-color);
    white-space: nowrap;
  }
  
  .link:hover {
    text-decoration: underline;
  }